.home {
  text-align: center;
  font-family: impact;
  text-shadow: 10px 10px 10px #ffffff;
  color: #ffffff;
  font-size: 4vw;
}
h2  {
  text-align: center;
  font-family: arial;
  font-size: 20;
  margin-top: -8%;
}
.boxright  {
	padding: 20px;
	background: #ffffff;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  width: 146px;
  height: 202px;
  display: block;
  margin-left: 104%;
  margin-top: 3%;
  box-shadow: 10px 12px 6px black;
  filter: alpha(opacity=60);
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
}
.images {
  position: relative;
  width: 50%;
}


.box_cart  {
	padding: 20px;
	background: #ffffff;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  width: 300px;
  height: 400px;
  display: block;
  margin-left: 104%;
  margin-top: 13%;
  box-shadow: 10px 12px 6px black;
  filter: alpha(opacity=60);
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;

}

.raquette {
  height: 50%;
  width: 50%;
  margin-top: -20%;
}

.right_text {
  text-align: right;
  margin-right: 10;
  font-size: 1em;
}
.boxleft  {
	padding: 20px;
	background: #ffffff;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
  width: 13%;
  height: 30%;
  display: block;
  margin-left: -21%;
  margin-top: 0%;
  box-shadow: 10px 12px 6px black;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-color: #ffffff;
  text-align: center;
  min-width: 100px;
}

.link {
  font-family: Impact;
  padding: 10px;
}
.text {
  padding: 10px;
}
.login  {
  text-align: center;
  margin-top: -6px;
  font-family: Arial;
  color: black;
}

.log_but  {
  position: absolute;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 5 auto;
  width: 153px;
}
.btn {
  background: rgb(39, 56, 124);
  background-color: rgb(191, 246, 124);


  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 19px;
  font-family: Arial;
  color: green;
  font-size: 12px;
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  margin: 5 auto;
  width: 153px;
}

.modif  {
  margin-left: -7px;
  background: #3498db;
  background-color: rgb(39, 56, 124);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 19px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 5px 5px 5px 10px;
  text-decoration: none;
}

.fond {
  background-image: url('img/roger.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  background-color: rgb(4, 4, 16);
}

div.background {
  border: 2px solid black;

}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  filter: alpha(opacity=60);
  width: 54%;
  height: 81%;

  margin-left: 18%;
  margin-top: -2%;
  position: relative;
}

p {
  font-size: 1em;
  margin-left: 10;
}
